div.header {
    margin: 20px;
}

#content {
    padding: 10px;
    background-color: white;
}

p {
    font-size: 12px;
    margin-right: 50px;
}

li.task {
    margin-bottom: 10px;
}

span.title {
    text-decoration: underline;
}

#task1s {
    font-size: 12px;
}

#code {
    background-color: black;
    color:white;
    font-family: monospace;
    font-size:12px;
    width:100%;
    padding: 10px;
}